


body{
  background-color: rgb(255, 255, 255);
  width: 100vw;

}

header{
    display: flex;  
    justify-content: space-between; /* 로고와 버튼들을 좌우로 정렬 */
    align-items: center;  /* 버튼과 로고를 수직 중앙 정렬 */
    width: 90%;  /* 헤더 전체 너비 사용 */
    padding: 20px; /* 여백 추가 */
}

.logo{
    color: red;
    font-size: 2rem;
    font-weight: bold;
}

.btn{
    border: none;
    background-color: white;
    opacity: 1;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 550;
  


    &:hover{
        text-decoration: underline;
    }

}
  
.wrap{
    height: 60px;
    padding: 20px; /* 여백 추가 */
    box-sizing: border-box;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    span{
        font-size: 1.2rem;
        font-weight: 550;
        padding-right: 30px;
        
    }

}


.btnW{
    font-size: 13px;
    border: none;
    border-radius: 25px; /* 버튼을 둥글게 만들기 */
    padding: 10px 20px;
    cursor: pointer;

}

.btn_active{
    background-color: black;
    color: white;
    margin-right: 10px;
}

.btn_inactive{
    background-color: rgb(228, 228, 228);
    color: rgb(125, 125, 125);
}

.list_box {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 1px;
}

.list_container {
    flex: 1;
    display: flex;
    flex-direction: column; 
    text-align: left;
    align-items: flex-start;
}

.list_item img {
    width: 100%;
    height: auto;
}

.list_information {
    padding: 5px;
   
}

.list_information h2 {
    font-size: 1rem;
    margin-bottom: 3%   ;

}

.list_information em {
    font-size: 14px;
    color: gray;
}